<!-- NAVBAR -->
<nav>
  <i class='bx bx-menu' style="color: #FFA439; font-size: 30px;"></i>
  <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Rechercher...">
      <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
    </div>
  </form>
  <input type="checkbox" id="switch-mode" hidden>
  <label for="switch-mode" class="switch-mode"></label>
  <a href="#" class="notification">
    <i class='bx bxs-bell' ></i>
    <span class="num">8</span>
  </a>
</nav>
<!-- NAVBAR -->
