<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
        <a href="" [routerLink]="['/accueil']"><img src="../../assets/Logo1.png" alt=""></a>
       </div>
       <div class="lower">
          <div class="media-icons ms-5">
            <a href="#"><i class="fab fa-facebook-f" style="color: #FFA439;"></i></a>
            <a href="#"><i class="fab fa-instagram" style="color: #FFA439;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: #FFA439;"></i></a>
          </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic">Pages</div>
       <div><a href="#" [routerLink]="['/accueil']">Accueil</a></div>
       <div><a href="#" [routerLink]="['/contact']">Contact</a></div>
       <div><a href="#" [routerLink]="['/about']">A propos</a></div>
     </div>
     <div class="middle box">
       <div class="topic">Explorer</div>
       <div><a href="#" [routerLink]="['/projet']">Projets</a></div>
       <div><a href="#" [routerLink]="['/']">Articles</a></div>
     </div>
     <div class="middle box">
       <div class="topic">Liens utilies</div>
       <div><a href="#" [routerLink]="['/condition']">Conditions d'utilisation</a></div>
       <div><a href="#" [routerLink]="['/politique']">Politique de confidentialité</a></div>
       <div><a href="#" [routerLink]="['/about']">A propos</a></div>
     </div>
   </div>
   <div class="bottom text-center">
     <p>Copyright © 2020 <a href="#" [routerLink]="['/accueil']">DevFinders</a> All rights reserved</p>
   </div>
 </footer>

</body>
</html>
