<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->

<!-- Contenu -->
<div class="listesprojet">
  <div class="listecontainer">
    <div class="recherche d-flex justify-content-end">
      <form action="#" class="formSearch">
        <div class="form-input recherche">
          <input type="search" placeholder="Rechercher..." name ="search" [(ngModel)]="filterValue" (input)="onSearch()">
          <button type="submit" class="search-btn mt-1"><i class='bx bx-search' ></i></button>
        </div>
      </form>
    </div>
    <div class="listesprojets">
      <div class="row mx-0 projetAsso">
        <div class="col-9 col-sm-9" id="formation">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show p-4" id="list-description" role="tabpanel"aria-labelledby="list-description-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card cardProjet" style="width: 20rem" *ngFor="let projet of listeprojetFilter | slice:(pageActuelle - 1) * projetParPage:(pageActuelle * projetParPage)">
                      <img src="https://img.freepik.com/photos-gratuite/concept-entreprise-strategie-marketing-document_53876-132231.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=sph" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">Nombre requis :{{ projet.nombre_de_participant }}</p>
                        <p class="card-text limit-description">{{ projet.imageName}}</p>
                        <p class="card-text">{{ projet.date_limite | date: 'dd/MM/yyyy'}}</p>
                        <a href="#" class="btn bouton" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contenu -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détail projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>titre : {{seletedProjet.titre}}</p>
      <p>{{seletedProjet.imageName}}</p>
      <p>{{seletedProjet.nombre_de_participant}}</p>
      <p>{{seletedProjet.date_limite | date: 'dd/MM/yyyy'}}</p>
      <!-- <p>{{seletedProjet.titre}}</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout" (click)="getProjetById()">Participer</button>
        <!-- <button type="button" class="btn btnAjout" (click)="participerAuProjet(projet)">Participer</button> -->
      </div>
    </div>
  </div>
</div>
