<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->

<!-- Contenu -->
<div class="listesprojet">
  <div class="listecontainer">
    <div class="recherche d-flex justify-content-end mt-5">
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-md-0 mw-100 navbar-search col-6">
        <div class="input-group search">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher ici" aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="filterValue" (input)="onSearch()" name="search"/>
          <div class="input-group-append">
            <button class="btn text-white fw-bold btnSearch" type="button">
              rechercher
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="listesprojets">
      <div class="row mx-0">
        <div class="col-3 col-sm-3 vh-100" id="theme">
          <div class="groupe">
            <div
              class="list-group rounded-0 liste"
              id="list-tab"
              role="tablist"
            >
              <a
                class="list-group-item list-group-item-action fw-medium border active"
                id="list-description-list"
                data-bs-toggle="list"
                href="#list-description"
                role="tab"
                aria-controls="list-description"
                >Toutes les catégories</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-html-list"
                data-bs-toggle="list"
                href="#list-html"
                role="tab"
                aria-controls="list-html"
                >HTML</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-css-list"
                data-bs-toggle="list"
                href="#list-css"
                role="tab"
                aria-controls="list-css"
                >CSS</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-javascript-list"
                data-bs-toggle="list"
                href="#list-javascript"
                role="tab"
                aria-controls="list-javascript"
                >JavaScript</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-api-list"
                data-bs-toggle="list"
                href="#list-api"
                role="tab"
                aria-controls="list-api"
                >API</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-angular-list"
                data-bs-toggle="list"
                href="#list-angular"
                role="tab"
                aria-controls="list-angular"
                >Angular</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-react-list"
                data-bs-toggle="list"
                href="#list-react"
                role="tab"
                aria-controls="list-react"
                >React</a
              >
              <a
                class="list-group-item list-group-item-action fw-medium border"
                id="list-php-list"
                data-bs-toggle="list"
                href="#list-php"
                role="tab"
                aria-controls="list-php"
                >PHP</a
              >
            </div>
          </div>
        </div>
        <div class="col-9 col-sm-9" id="formation">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show p-4" id="list-description" role="tabpanel"aria-labelledby="list-description-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card" style="width: 20rem" *ngFor="let projet of  filterValue ? tabNewsFilter : getArticlesPage()">
                      <img src="https://img.freepik.com/vecteurs-libre/temps-impots_24877-49137.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">{{ projet.nombre_de_participant }}</p>
                        <p class="card-text">{{ projet.description }}</p>
                        <p class="card-text">{{ projet.date_limite }}</p>
                        <a href="#" class="btn bouton" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
            <div class="tab-pane fade show p-4" id="list-html" role="tabpanel" aria-labelledby="list-html-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card" style="width: 20rem" *ngFor="let projet of getArticlesPage()">
                      <img src="https://img.freepik.com/vecteurs-libre/temps-impots_24877-49137.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">{{ projet.nombre_de_participant }}</p>
                        <p class="card-text">{{ projet.description }}</p>
                        <p class="card-text">{{ projet.date_limite }}</p>
                        <a href="#" class="btn bouton" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                          <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
            <div class="tab-pane fade show p-4" id="list-api" role="tabpanel" aria-labelledby="list-api-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card" style="width: 20rem" *ngFor="let projet of getArticlesPage()">
                      <img src="https://img.freepik.com/vecteurs-libre/temps-impots_24877-49137.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">{{ projet.nombre_de_participant }}</p>
                        <p class="card-text">{{ projet.description }}</p>
                        <p class="card-text">{{ projet.date_limite }}</p>
                        <a href="#" class="btn bouton" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                          <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
            <div class="tab-pane fade show p-4" id="list-css" role="tabpanel" aria-labelledby="list-api-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card" style="width: 20rem" *ngFor="let projet of getArticlesPage()">
                      <img src="https://img.freepik.com/vecteurs-libre/temps-impots_24877-49137.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">{{ projet.nombre_de_participant }}</p>
                        <p class="card-text">{{ projet.description }}</p>
                        <p class="card-text">{{ projet.date_limite }}</p>
                        <a href="#" class="btn bouton" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                          <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
            <div class="tab-pane fade show p-4" id="list-javascript" role="tabpanel" aria-labelledby="list-api-list">
              <div class="sectiontitle text-center mt-5">
                <h3 class="text-black fw-bold">Nos projets</h3>
                <hr class="border-3 opacity-100" />
              </div>
              <div class="projets mt-5">
                <div class="container mt-2 cartes">
                  <div class="dieyna" id="cartes">
                    <div class="card" style="width: 20rem" *ngFor="let projet of getArticlesPage()">
                      <img src="https://img.freepik.com/vecteurs-libre/temps-impots_24877-49137.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" class="card-img-top" alt="..."/>
                      <div class="card-body">
                        <h5 class="card-title">{{ projet.titre }}</h5>
                        <span *ngFor="let langageUrl of projet.langage_de_programmation">
                          {{ getLangageName(langageUrl) }}
                        </span>
                        <p class="card-text">{{ projet.nombre_de_participant }}</p>
                        <p class="card-text">{{ projet.description }}</p>
                        <p class="card-text">{{ projet.date_limite }}</p>
                        <a href="#" class="btn bouton" (click)="getDetailProjet(projet)">Détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                          <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contenu -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détail projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>{{seletedProjet.titre}}</p>
      <p>{{seletedProjet.description}}</p>
      <p>{{seletedProjet.nombre_de_participant}}</p>
      <p>{{seletedProjet.date_limite}}</p>
      <!-- <p>{{seletedProjet.titre}}</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout" (click)="getProjetById()">Participer</button>
        <!-- <button type="button" class="btn btnAjout" (click)="participerAuProjet(projet)">Participer</button> -->
      </div>
    </div>
  </div>
</div>
