.headertext{
  position: relative;
  z-index: 2000;
}
/* Banniere */
.banner img{
  width: 100%;
  height: 80vh;
  margin-top: 90px;
}
/* Fin Banniere */

/* Début section a propos */
.aboutus h2 p,span{
  color: #FFA439;
}
.aboutusText{
  /* width: 70%; */
  margin: 0 auto;
}
.aboutusText p{
  border-radius: 40px;
  background: #0F2A3D;
  width: 70%;
  height: 250px;
  color: #FFF;
  text-align: justify;
  font-weight: 400;
  line-height: 35px;
  margin: 0 auto;
}
.aboutusText img{
  width: 50%;
  height: 240px;
  position: relative;
  left: 280px;
  top: -80px;
}
/* Fin section a propos */
.mission{
  margin: 0 auto;
}
.table{
  width: 70%;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
.tableTH{
  border-bottom: 1px solid black;
}
.table th{
  border-right: 1px solid black;
}

@media screen and (max-width: 989px) and (min-width: 200px){
  .aboutusText img{
    display: none;
  }
  .aboutusText p{
    height: 380px;
  }
}
@media screen and (max-width: 450px) and (min-width: 200px){
  .aboutusText p{
    height: 460px;
  }
}
/* <!-- Début Section Entrprise--> */
.tittle{
  margin-left: 70px;
}
.tag-list{
  width: 100rem;
  font-family: "Montserrat";
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.inner{
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 10s linear infinite;
}
.tag{
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  /* background-color: #334155; */
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  /* box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.1rem 1.5rem #00000033; */
}
.tag img{
  width: 100px;
  height: 100px;
  border-radius: 30%;
}
.tag span{
  font-size: 1.2rem;
  color: palevioletred;
}
.fade{
  position: absolute;
  background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
  inset: 0;
  pointer-events: none;
}
.zone1{
  width: 150px !important;
  height: 150px !important;
}
@keyframes loop {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-50%);
  }
}
@media screen and (max-width: 950px) and (min-width: 450px){
  .partner{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (width<= 450px){
  .partner{
    grid-template-columns: 1fr 1fr;
  }
}
/* <!-- Début Section Entrprise--> */
