<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->

<!-- Contenu -->
<!-- Banniere -->
<div class="about">
  <div class="banner">
    <img src="https://img.freepik.com/photos-gratuite/homme-affaires-signature-documents-lors-reunion-partenaire_74855-1150.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
  </div>
</div>
<!-- Fin Banniere -->
<!-- A propos -->
<div class="aboutus mt-5">
  <h2 class="text-center">Nous sommes là pour <br>
    <p>garantir votre succès !!!</p>
  </h2>
  <div class="aboutusText container">
    <p class="px-3 py-3">
      DevFinders aide les développeurs non expérimentés la possibilité de monter en compétence et d'acquérir une expérience pratique à travers la réalisation de projets concrets de développement d'applications.
      Elle vise à faciliter la recherche de talents pour les entreprises à la recherche de développeurs expérimentés et autodidacte.
    </p>
    <img src="../../assets/about.png" alt="">
  </div>
  <div class="mission container mb-5">
    <h2>Notre <span>mission</span></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="tableTH">Un service inégalé</th>
          <td class="tableTH">Soutenir les jeunes développeurs sans expérience de monter en <br>compétence et de pouvoir parfaire leur profil</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="">Spécifique</th>
          <td>L'expertise principale de DevFinder réside dans sa capacité à aider les <br>jeunes sans expérience de pouvoir participer à des projets afin de <br>mettre en avant leurs compétences et en acquérir de nouvelles</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Fin A propos -->
<!--Fin Contenu -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
