<!-- header -->
<app-header></app-header>
<!-- header -->

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Créer un compte</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>OU</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>S'inscrire</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Connexion</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g" style="color: #0F2A3D;"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f" style="color: #0F2A3D;"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github" style="color: #0F2A3D;"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in" style="color: #0F2A3D;"></i></a>
                </div>
                <span>Ou utiliser vos identifiants</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Mot de passe oublié</a>
                <button>Connexion</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenu !!</h1>
                    <p>Saisissez vos données personnelles pour utiliser toutes les fonctionnalités du site</p>
                    <button class="hidden" id="login">Se connecter</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bonjour cher utilisateur!!</h1>
                    <p>Enregistrez-vous avec vos données personnelles</p>
                    <button class="hidden" id="register">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
