  <!-- Menu filtre pour le tableau des projets  -->
<div class="menuFiltre mt-5 d-flex">
  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3 active" *ngIf="isProgress">Utilisateurs</button>
      <button class="btn fw-bold px-3 active" *ngIf="!isProgress" (click)="showProgress()">Utilisateurs</button>
  </div>

  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3" *ngIf="isTerminate">Utilisateurs bloqués</button>
      <button class="btn fw-bold px-3" *ngIf="!isTerminate" (click)="showTerminate()">Utilisateurs bloqués</button>
  </div>
</div>
  <div class="lignesUrbaine sectionEspace table-responsive" *ngIf="isProgress">
    <!-- Tableau detous les utilisateurs -->
    <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" *ngIf="listeUsers.length>0">
      <thead>
        <tr>
          <th class="thHead">Nom</th>
          <th class="thHead">Email</th>
          <th class="thHead">Rôle</th>
          <th class="thHead">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listeUsers">
          <td>{{user.nom_complet}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles}}</td>
          <td>
            <i class="fa-solid fa-eye ms-3" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="afficherDetailsUser(user)"></i>
            <!-- <i  class="bi ms-3" [ngClass]="{ 'bi-ban': !user.est_bloquer, 'bi bi-unlock': user.est_bloquer }"type="button" (click)="user.est_bloquer ? debloquerUtilisateur(user.id) : bloquerUtilisateur(user.id)" style="color: #0F2A3D;font-size: 24px; font-weight: bold;"></i> -->
            <i class="fa-solid fa-ban ms-3" style="color: #0F2A3D;font-size: 24px; font-weight: bold;" (click)="blockUser(user.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="listeUsers.length<0">
      <thead>
        <tr>
          <th class="thHead">Nom</th>
          <th class="thHead">Email</th>
          <th class="thHead">Rôle</th>
          <th class="thHead">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aucune donnée disponible au niveau du tableau</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="lignesUrbaine sectionEspace table-responsive" *ngIf="isTerminate">
    <!-- Tableau des utilisateurs bloqués -->
    <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" *ngIf="listeUsers.length>0">
      <thead>
        <tr>
          <th class="thHead">Nom</th>
          <th class="thHead">Email</th>
          <th class="thHead">Rôle</th>
          <th class="thHead">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listeUsersBloque">
          <td>{{user.nom_complet}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles}}</td>
          <td>
            <i class="fa-solid fa-eye ms-3" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="afficherDetailsUser(user)"></i>
            <!-- <i  class="bi ms-3" [ngClass]="{ 'bi-ban': !user.est_bloquer, 'bi bi-unlock': user.est_bloquer }"type="button" (click)="user.est_bloquer ? debloquerUtilisateur(user.id) : bloquerUtilisateur(user.id)" style="color: #0F2A3D;font-size: 24px; font-weight: bold;"></i> -->
            <i class="fa-solid fa-ban ms-3" style="color: #0F2A3D;font-size: 24px; font-weight: bold;" (click)="deblockUser(user.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="listeUsers.length<0">
      <thead>
        <tr>
          <th class="thHead">Nom</th>
          <th class="thHead">Email</th>
          <th class="thHead">Rôle</th>
          <th class="thHead">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aucune donnée disponible au niveau du tableau</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- contenu -->

  <!-- PopUp détail -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailmodalLabel">Détail de l'utilisateur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Nom complet :</strong>  {{userSelectionne.nom_complet}}</p>
        <p><strong>Email :</strong>  {{userSelectionne.email}}</p>
        <p><strong>Description :</strong>  {{userSelectionne.description}}</p>
        <p><strong>NINEA :</strong>  {{userSelectionne.numero_identification_naitonal}}</p>
        <p><strong>Téléphone :</strong>  {{userSelectionne.telephone}}</p>
        <p><strong>Role :</strong>  {{userSelectionne.roles}}</p>
      </div>
    </div>
  </div>
</div>
