<div class="profil">
  <div class="left">
    <div class="profilUp">
      <img src="https://img.freepik.com/vecteurs-libre/cercle-bleu-utilisateur-blanc_78370-4707.jpg?t=st=1709040448~exp=1709044048~hmac=a2b734dbf6516513fd564a8e051242681b7e4f79d84d062f7bde5493558cb954&w=740" alt="">
      <h3>{{nom_complet}}</h3>
    </div>
    <div class="profilDown mt-3">
      <h3>Informations</h3>
      <div>
        <strong>Email</strong>
        <p>{{email}}</p>
      </div>
      <div>
        <strong>Téléphone</strong>
        <p>{{telephone}}</p>
      </div>
      <div>
        <strong>Réseaux sociaux</strong>
        <p>
          <i class="fa-brands fa-facebook" style="color: #0F2A3D; font-size: 25px;"></i>
          <i class="fa-brands fa-twitter ms-3" style="color: #0F2A3D; font-size: 25px;"></i>
          <i class="fa-brands fa-linkedin ms-3" style="color: #0F2A3D; font-size: 25px;"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="rightUp">
      <h3>Compétences <i class="fa-solid fa-circle-plus ms-2" style="font-size: 17px; color: #0F2A3D;" data-bs-toggle="modal" data-bs-target="#secondModal"></i></h3>
      <div *ngFor="let competence of listeDescripCompetence">
        <p><span class="fw-bold">Compétence :</span>{{competence.nomCompetence}}</p>
        <p><span class="fw-bold">Description :</span>{{competence.description}}</p>
        <p><span class="fw-bold">Lien :</span>{{competence.lien_de_realisation}}</p>
        <i class="fa-regular fa-pen-to-square" title="Modifier la description" style="color: #0F2A3D; font-size: 15px;" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal" (click)="chargerInfosDescription(competence)"></i>
        <!-- <i class="fa-solid fa-eye ms-1" style="color: #0F2A3D; font-size: 15px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal"></i> -->
        <i class="fa-solid fa-trash-can ms-3" title="Supprimer la description" style="color: #0F2A3D; font-size: 15px;" (click)=" supprimerDescripCompetence(competence)"></i>
      </div>
    </div>
    <div class="rightDown mt-3">
      <h3>A propos</h3>
      <strong>À propos de {{nom_complet}}</strong>
      <p>{{description}} </p>
    </div>
  </div>
</div>
<!-- Modal pour compétence-->
<div class="modal fade" id="secondModal" tabindex="-1" aria-labelledby="secondModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="secondModalLabel">Compétences</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 inputAjout">
          <label for="">Compétence</label>
          <select class="form-select" aria-label="Default select example" name="competences" [(ngModel)]="competences">
            <option selected>Choisir une compétence</option>
            <option *ngFor="let competence of listeCompetence" [value]="competence.id">{{ competence.nom }}</option>
          </select>
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Desscription" name="description" [(ngModel)]="descriptionCom">
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Lien de réalisation</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lien" name="lien_de_realisation" [(ngModel)]="lien_de_realisation">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnEditProfil" style="background-color: #FFA439; color: white;" (click)="ajoutCompetence()">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pour projet-->
<div class="modal fade" id="threeModal" tabindex="-1" aria-labelledby="threeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="threeModalLabel">Projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Url du projet</label>
          <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="Veuillez mettre le lien de votre projet">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnEditProfil" style="background-color: #FFA439; color: white;">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pour a propos-->
<div class="modal fade" id="fourModal" tabindex="-1" aria-labelledby="fourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="fourModalLabel">Projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">A propos</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnEditProfil" style="background-color: #FFA439; color: white;">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<!-- PopUp modifier -->
<div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="modifierModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierModalLabel">Modifier une description</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="titre du projet" name="description" [(ngModel)]="description">
        </div>
        <div class="mb-3 inputAjout">
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Lien</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lien" name="lien_de_realisation" [(ngModel)]="lien_de_realisation">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnAjout" data-bs-dismiss="modal" (click)=" modifierDescripCompetence(idDescr)">Modifier</button>
      </div>
    </div>
  </div>
</div>
