<section class="portfolio" id="portfolio">
  <div class="portfolioBottom">
      <ul class="portfolioBottomMenu">
              <li><button class="btnAll active">ALL</button></li>
              <li><button class="btnApp" onclick="showApp()">APP</button></li>
              <li><button class="btnCard">CARD</button></li>
              <li><button class="btnWeb">WEB</button></li>
      </ul>
      <div class="portfolioBottomItemContainer mt-5">
        <div class="projetItem portfolioBottomItem web">
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portfolio développeur</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
        </div>
        <div class="projetItem portfolioBottomItem web">
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portfolio développeur</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
        </div>
        <div class="projetItem portfolioBottomItem web">
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portfolio développeur</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
