<!-- header -->
<app-header></app-header>
<!-- header -->

<!-- Contenu -->
<div class="contact container">
  <div class="left">
    <h2>DevFinders</h2>
    <p class="mt-5">
      <strong>Nous sommes là pour vous ! Comment pouvons-nous vous aider ?</strong>
    </p>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nom complet</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btnContact mb-3">Envoyer</button>
    </div>
  </div>
  <div class="right">
    <div class="contactImg">
      <img src="../../assets/Contact.png" alt="">
    </div>
    <div class="details">
      <p>
        <i class="fa-solid fa-location-dot" style="color: #FFA439;"></i>
        Cité Keur Guorgui
      </p>
      <p>
        <i class="fa-solid fa-phone" style="color: #FFA439;"></i>
        (+221) 78 124 12 23
      </p>
      <p>
        <i class="fa-regular fa-envelope" style="color: #FFA439;"></i>
        devfinder@gmail.com
      </p>
    </div>
    <div class="socialMedia">
      <i class="pt-1 fa-brands fa-facebook-f" style="color: #FFA439;"></i>
      <i class="pt-1 fa-brands fa-instagram" style="color: #FFA439;"></i>
      <i class="pt-1 fa-brands fa-linkedin-in" style="color: #FFA439;"></i>
      <i class="pt-1 fa-brands fa-twitter" style="color: #FFA439;"></i>
    </div>
  </div>
</div>
<!--Fin Contenu -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
