<h3 class="text-center mb-5" >Informations du profil</h3>
      <div class="first"></div>
      <div class="second"></div>
      <div class="row g-4">
        <div class="col-md-6 right-profil">
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Nom :</label>
            <input type="email" class="form-control" name="nom_complet" id="exampleFormControlInput1" [(ngModel)]="nom_complet">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput2" class="form-label">Adresse email :</label>
            <input type="email" class="form-control" name="email" id="exampleFormControlInput2" [(ngModel)]="email">
          </div>
        </div>
      </div>
      <h3 class="text-center mb-5">Changer de mot de passe</h3>
      <div class="first"></div>
      <div class="second"></div>
      <div class="container pwd">
        <form action="">
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput5" class="form-label">Ancien mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput5" placeholder="">
          </div>
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput6" class="form-label">Nouveau mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput6" placeholder="">
          </div>
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput7" class="form-label">Confirmer mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput7" placeholder="">
          </div>
        </form>
      </div>
      <button class="btnSave p-2 mt-5">Enregistrer</button>
