<h3 class="text-center mb-5">Informations du profil</h3>
      <div class="first"></div>
      <div class="second"></div>
      <div class="row g-4">
        <div class="col col-md-6 left-profil">
          <img class="container-fluid" src="https://img.freepik.com/photos-gratuite/homme-afro-americain_1303-3990.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" alt="">
        </div>
        <div class="col-md-6 right-profil">
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="FALL">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Prénom</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Amadem">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="papaamadem@gmail.com">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="77 777 77 77">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="sasuke">
          </div>
        </div>
      </div>
      <h3 class="text-center mb-5">Changer de mot de passe</h3>
      <div class="first"></div>
      <div class="second"></div>
      <div class="container pwd">
        <form action="">
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Ancien mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Nouveau mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3 d-flex flex-wrap justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Confirmer mot de passe :</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </form>
      </div>
      <button class="btnSave p-2 mt-5">Enregistrer</button>
