<app-header></app-header>
<div class="projets mb-5">
  <div class="input-group search">
    <input class="ps-3" type="text" placeholder="Rechercher ici" id="rebeudio"  [(ngModel)]="searchProjet" (input)="getArticlesPage()">
    <div class="input-group-append">
        <button class="btn text-white fw-bold btnSearch" type="button">
         rechercher
        </button>
    </div>
  </div>
  <div class="d-flex ms-5">
</div>
  <h2 class="tittle ms-5">Profils</h2>
  <p class="trait mt-3 ms-5"></p>
<div class="container cartes">
  <div class="col-md-6 col-lg-4" *ngFor="let profil of getArticlesPage()">
    <div class="bigdiv ">
      <div class="petitdiv px-2">
        <div class="mak">
          <div class="tofservice my-2">
            <img
              src="https://img.freepik.com/photos-gratuite/femme-travaillant-ordinateur-portable_53876-163217.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
              alt=""
            />
          </div>
        </div>
        <div class="titleservice d-flex justify-content-center my-2">
          <h6 class="fw-bold text-center text-center mt-3">{{profil.nom_complet}}</h6>
          <i class="fa-solid fa-eye mt-3 ms-2" style="color: #FFA439;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getDetailProfil(profil)"></i>
        </div>
        <div class="textsevice text-center fw-medium mt-3">
          <p>{{profil.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pour la pagination -->
<div class="d-flex justify-content-center my-5">
  <button class="btn btnColore me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn btnColore ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>
<app-footer></app-footer>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détail projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>{{seletedProfil.nom_complet}}</p>
      <p>{{seletedProfil.email}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout" (click)="getProfilById()">Recruter</button>
        <!-- <button type="button" class="btn btnAjout" (click)="participerAuProjet(projet)">Participer</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal pour -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détail projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>{{seletedProfil.nom_complet}}</p>
      <p>{{seletedProfil.email}}</p>
      <p>{{seletedProfil.telephone}}</p>
      <p>{{seletedProfil.descriptionCompetences}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout" (click)="getProfilById()">Recruter</button>
        <!-- <button type="button" class="btn btnAjout" (click)="participerAuProjet(projet)">Participer</button> -->
      </div>
    </div>
  </div>
</div>

