<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->
<!-- Contenu -->
<div class="banniere">
  <img src="https://img.freepik.com/photos-gratuite/gros-plan-main-medecin-praticien-afro-americain-analysant-expertise-maladie-ecrivant-traitement-medical-presse-papiers-homme-therapeute-travaillant-prescription-medicaments-au-bureau-hopital_482257-32875.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
</div>
<div class="condition container">
  <h2 class="text-center mt-5">Conditions d'utilisation</h2>
  <p class="my-5">
    Chez DevLite, nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les données que vous nous fournissez lorsque vous utilisez la plateforme DevFinders.<br>

    <strong>1. Utilisation de la Plateforme :</strong>
    Vous devez avoir au moins 18 ans pour utiliser la Plateforme. Si vous êtes en dessous de cet âge, l'utilisation de la Plateforme doit être supervisée par un parent ou un tuteur légal.
    Vous acceptez d'utiliser la Plateforme conformément aux lois en vigueur et de ne pas utiliser la Plateforme à des fins illégales ou non autorisées.<br>

    <strong>2.  Compte Utilisateur :</strong>
    Pour accéder à certaines fonctionnalités de la Plateforme, vous devrez créer un compte. Vous êtes responsable du maintien de la confidentialité de votre compte et de votre mot de passe.
    Vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte ou de toute violation de la sécurité.<br>

    <strong>3. Contenu Utilisateur :</strong>
    En publiant du contenu sur la Plateforme, vous accordez à DevLite une licence non exclusive, transférable, sous-licenciable, mondiale pour utiliser, afficher et distribuer ce contenu sur la Plateforme.
    Vous êtes responsable du contenu que vous publiez sur la Plateforme et vous garantissez que ce contenu ne viole pas les droits d'autrui ni les lois en vigueur.<br>

    <strong>4.  Propriété Intellectuelle :</strong>
    Tous les droits de propriété intellectuelle relatifs à la Plateforme sont la propriété de DevLite. Vous acceptez de ne pas copier, modifier, distribuer, vendre ou louer tout élément de la Plateforme sans autorisation écrite.<br>

    <strong>5. Limitation de Responsabilité :</strong>
    Nous nous efforçons de maintenir la Plateforme disponible et sécurisée, mais nous ne garantissons pas que la Plateforme sera exempte d'erreurs ou de interruptions.
    En aucun cas, DevLite ne pourra être tenu responsable des dommages directs, indirects, accessoires, spéciaux ou consécutifs découlant de l'utilisation ou de l'incapacité à utiliser la Plateforme.<br>

    <strong>6. Modifications des Conditions :</strong>
    DevLite se réserve le droit de modifier ces Conditions à tout moment. Les modifications prendront effet dès leur publication sur la Plateforme. Il est de votre responsabilité de consulter régulièrement ces Conditions pour toute mise à jour.
    En utilisant la Plateforme après toute modification des Conditions, vous acceptez les nouvelles Conditions.
    Si vous avez des questions concernant ces Conditions d'Utilisation, veuillez nous contacter à devfinder@gmail.com
    Date d'entrée en vigueur : 04/01/2024
  </p>
</div>
<!-- Fin Contenu -->
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
