<!-- contenu -->
<!-- Menu filtre pour le tableau des projets  -->
<div class="menuFiltre mt-5 d-flex">
  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3 active" *ngIf="isProgress">Projets en cours</button>
      <button class="btn fw-bold px-3 active" *ngIf="!isProgress" (click)="showProgress()">Projets en cours</button>
  </div>

  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3" *ngIf="isTerminate">Projets terminés</button>
      <button class="btn fw-bold px-3" *ngIf="!isTerminate" (click)="showTerminate()">Projets terminés</button>
  </div>

  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3" *ngIf="isCancel">Projets annulés</button>
      <button class="btn fw-bold px-3" *ngIf="!isCancel" (click)="showCancel()">Projets annulés</button>
  </div>
</div>

<!-- Projet en cours -->
<div class="lignesUrbaine sectionEspace" *ngIf="isProgress">
  <!-- Tableau des projets en cours -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table table-responsive" *ngIf="listeProjet.length>0">
    <thead>
      <tr>
        <th class="thHead">Titre</th>
        <th class="thHead">Description</th>
        <th class="thHead">Association</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of listeProjet">
        <td>{{projet.titre}}</td>
        <td>{{projet.imageName}}</td>
        <td>{{projet.association.nom_complet}}</td>
        <td>{{projet.date_limite | date: 'dd/MM/yyyy'}}</td>
        <td>
          <a href="https://mamadoucire99.simplonfabriques.com/public/fichiers/projets/{{projet.imageName }}" download>
            <i class="fa-solid fa-download" title="Télécharger la ressource" style="color: #0F2A3D; font-size: 20px;"></i>
          </a>
          <i class="fa-solid fa-eye ms-1" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="afficherDetailsProjet(projet)"></i>
          <i class="fa-solid fa-trash-can ms-1" style="color: #0F2A3D; font-size: 20px;"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <table  *ngIf="listeProjet.length<0">
    <thead class="thHead">
      <tr class="thHead">
        <th class="thHead">Titre</th>
        <th class="thHead">Description</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aucune donnée disponible dans le tableau</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Projet terminé -->
<div class="lignesUrbaine sectionEspace" *ngIf="isTerminate">
  <!-- Tableau des projets terminés -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table table-responsive" >
    <thead class="thHead">
      <tr class="thHead">
        <th class="thHead">Titre</th>
        <th class="thHead">Technologies</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

<!-- Projet annulé -->
<div class="lignesUrbaine sectionEspace" *ngIf="isCancel">
  <!-- Tableau des projets annulés -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table table-responsive">
    <thead>
      <tr>
        <th class="thHead">Titre</th>
        <th class="thHead">Technologies</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td><span></span></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- contenu -->

<!-- PopUp pour détail -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailmodalLabel">Détails du projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body detail">
        <p><strong>Titre :</strong> {{projetSelectionne.titre}}</p>
        <!-- <p><strong>Description :</strong> {{projetSelectionne.description}}</p> -->
        <p><strong>Langage :</strong> {{projetSelectionne.imageName}}</p>
        <!-- <p><strong>Association :</strong> {{projetSelectionne.association.nom_complet}}</p> -->
        <!-- <p><strong>Date début :</strong> {{projetSelectionne.projet.createAt}}</p> -->
        <p><strong>Date limite :</strong> {{projetSelectionne.date_limite | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
</div>
