
<div class="carte mt-3">
  <div class="carte-items py-2 px-5 rounded">
    <div class="iconeOffre">
      <i class="fa-solid fa-user-tie" style="color: #FFA439; font-size: 50px; display: flex; justify-content: center;"></i>
    </div>
    <div class="ml-5">
      <p class="pp text-center" style="font-size: 25px; font-weight: bold;">Nombre projets</p>
      <p class="p text-center" style="font-size: 25px;" *ngIf="listeProjet">{{ listeProjet.length }}</p>
    </div>
  </div>
  <div class="carte-items py-2 px-5 rounded">
    <i class="fa-solid fa-user" style="color: #FFA439; font-size: 50px; display: flex; justify-content: center;"></i>
    <div class="ml-5">
      <p class="pp text-center" style="font-size: 25px; font-weight: bold;">Projets en cours</p>
      <p class="p text-center" style="font-size: 25px;">0</p>
    </div>
  </div>
  <div class="carte-items py-2 px-5 rounded" >
    <div class="iconeOffre">
      <i class="fa-regular fa-newspaper" style="color: #FFA439; font-size: 50px; display: flex; justify-content: center;"></i>
    </div>
  <div class="ml-5">
    <p class="pp text-center" style="font-size: 25px; font-weight: bold;">Projets terminés</p>
    <p class="p text-center" style="font-size: 25px;">0</p>
  </div>
  </div>
</div>
<div class="cartes mt-5">
  <h4 class="ms-3">Projets</h4>
  <div class="container mt-4 cartes">
    <div class="dieyna" id="cartes">
      <div class="card" style="width: 20rem;" *ngFor="let projet of listeProjet">
          <img src="https://img.freepik.com/photos-gratuite/concept-entreprise-strategie-marketing-document_53876-132231.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{projet.titre}}</h5>
            <p class="card-text">{{projet.imageName}}</p>
            <p class="card-text">{{projet.date_limite | date: 'dd/MM/yyyy'}}</p>
            <p class="card-text">{{projet.description}}</p>
      </div>
    </div>
  </div>
</div>

