<!-- SIDEBAR -->

<a class="brand mt-4 ms-1">
  <img src="https://img.freepik.com/photos-gratuite/femme-affaires-africaine-confiante-souriante-portrait-gros-plan-pour-emploi-campagne-carriere_53876-143280.jpg?w=740&t=st=1704756227~exp=1704756827~hmac=0ed9f6d5c8f33823b8f1aafdbdf8a94fb26f3a10bf57ee66f52effbe76a48301" alt="">
  <p class="mt-4 ms-3">Dev COLY</p>
</a>
<ul class="side-menu top">
  <li class="active">
    <a [routerLink]="['accueilsuperadmin']">
      <i class='bx bxs-dashboard' ></i>
      <span class="text">Dashboard</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['user']">
      <i class='bx bxs-shopping-bag-alt' ></i>
      <span class="text">Gestion utilisateurs</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['profiladmin']">
      <i class='bx bxs-doughnut-chart' ></i>
      <span class="text">Gestion profil</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['ressource']">
      <i class='bx bxs-doughnut-chart' ></i>
      <span class="text">Gestion ressource</span>
    </a>
  </li>
</ul>
<ul class="side-menu">
  <li>
    <a class="logout">
      <i class='bx bxs-log-out-circle' ></i>
      <span class="text" (click)="logout()" >Deconnexion</span>
    </a>
  </li>
</ul>

<!-- SIDEBAR -->
