 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
        <a href="" [routerLink]="['/accueilEntreprise']"><img src="../../assets/Logo1.png" alt=""></a>
       </div>
       <div class="lower">
          <div class="media-icons ms-5">
            <a href="#"><i class="fab fa-facebook-f" style="color: #FFA439;"></i></a>
            <a href="#"><i class="fab fa-instagram" style="color: #FFA439;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: #FFA439;"></i></a>
          </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic">Pages</div>
       <div><a href="#" [routerLink]="['/accueilEntreprise']">Accueil</a></div>
       <div><a href="#" [routerLink]="['/contact']">Contact</a></div>
       <div><a href="#" [routerLink]="['/about']">A propos</a></div>
     </div>
     <div class="middle box">
       <div class="topic">Explorer</div>
       <div><a href="#" [routerLink]="['/developpeurs']">Développeurs</a></div>
       <div><a href="#" [routerLink]="['/']">Articles</a></div>
     </div>
     <div class="middle box">
       <div class="topic">Liens utilies</div>
       <div><a href="#" [routerLink]="['/condUtilisation']">Conditions d'utilisation</a></div>
       <div><a href="#" [routerLink]="['/politiqueConfi']">Politique de confidentialité</a></div>
       <div><a href="#" [routerLink]="['/about']">A propos</a></div>
     </div>
   </div>
   <div class="bottom text-center">
     <p>Copyright © 2020 <a href="#" [routerLink]="['/accueilEntreprise']">DevFinders</a> All rights reserved</p>
   </div>
 </footer>
