<h3 class="text-center">Modification du profil</h3>
<div class="profil mt-4">
  <div class="left">
    <div class="profilUp">
      <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.1.12207566.1692912950&semt=ais" alt="">
      <p>Véronique M G DIATTA</p>
    </div>
    <div class="profilDown mt-3">
      <h3>Informations</h3>
      <div>
        <strong>Email</strong>
        <p>name@gmail.com</p>
      </div>
      <div>
        <strong>Email</strong>
        <p>name@gmail.com</p>
      </div>
      <div>
        <strong>Email</strong>
        <p>name@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="rightUp">
      <h3>Expérience</h3>
      <div>
        <strong>Langages et Technologies</strong>
        <p>HTML CSS JS PHP SQL</p>
      </div>
      <div>
        <strong>Entreprises</strong>
        <div>
          <p>Agence Nationale de la Statistique et de la Démographie (ANSD)</p>
          <p class="rightItem">Stage en développement web</p>
          <p class="rightItem">6 mois</p>
        </div>
        <div>
          <p>Wanekoo</p>
          <p class="rightItem">Stage en développement web</p>
          <p class="rightItem">6 mois</p>
        </div>
      </div>
      <div>
        <strong>Projets</strong>
        <p>https://daaraytechnologie.netlify.app/</p>
        <p class="rightItem">https://briefangmarielaure.netlify.app/auth</p>
      </div>
    </div>
    <div class="rightDown mt-3">
      <h3>A propos</h3>
      <strong>À propos de Noel Robinson NDECKY  </strong>
      <p>Noel Robinson NDECKY, est un étudiant de la promotion 7 en Informatique,<br>Développement, d'Applications (IDA) à l'Espace Numérique ouvert (ENO) de<br>Sébikotane qui conjugue avec brio ses études et sa passion pour<br>l’entrepreneuriat.
        En plus d être un membre actif de la communauté<br>estudiantine , il a développé un projet de fabrication de maquettes avec<br>comme ambition de marquer son empreinte dans la création d'objets<br>ludiques au Sénégal. </p>
    </div>
    <button class="btnProfil mt-3">Enregistrer</button>
  </div>
</div>
