<div class="projet">
  <ul class="tabs list-unstyled d-flex">
    <li data-tab-target="#all" class="active tab" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter</li>
    <li data-tab-target="#etat" class="tab ms-3">Etat</li>
  </ul>
</div>
<div class="tab-content">
    <div class="projets mt-5" >
      <div class="container mt-2 cartes">
        <div class="dieyna" id="cartes">
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Calculatrice d'âge</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Ce projet est conçu pour aiguiser vos compétences en matière de JavaScript et de validation de formulaire. Travailler avec des dates en JavaScript peut être délicat, ce sera donc un bon test !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dictionnaire</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span><span class="secondletter ms-3">API</span>
                <p class="card-text">Dans ce projet, vous intégrerez l'API Dictionnaire pour créer une application web de dictionnaire du monde réel. Les tests supplémentaires portent sur les thèmes de couleurs et la sélection des polices de caractères.</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portfolio développeur</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Calculatrice d'âge</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Ce projet est conçu pour aiguiser vos compétences en matière de JavaScript et de validation de formulaire. Travailler avec des dates en JavaScript peut être délicat, ce sera donc un bon test !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dictionnaire</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span><span class="secondletter ms-3">API</span>
                <p class="card-text">Dans ce projet, vous intégrerez l'API Dictionnaire pour créer une application web de dictionnaire du monde réel. Les tests supplémentaires portent sur les thèmes de couleurs et la sélection des polices de caractères.</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
          <div class="card" style="width: 20rem;">
              <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Portfolio développeur</h5>
                <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
                <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
                <i class="fa-solid fa-eye" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#detailprojet"></i>
                <i class="fa-solid fa-pen-to-square ms-3" style="color: #FFA439; font-size: 20px;" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
                <i class="fa-solid fa-trash-can ms-3" style="color: #FFA439; font-size: 20px;"></i>
              </div>
          </div>
        </div>
            <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColor ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>
      </div>
    </div>
  <div id="etat" data-tab-content>
  </div>
</div>

<!-- Modal pour ajouter un projet-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titre</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titre" name="titre">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Domaine</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="Html/CSS">Html/CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="PHP">PHP</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Selectionner une image</label>
          <input class="form-control" type="file" id="formFile" name="image">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnAjout">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pour modifier un projet-->
<div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="modifierModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierModalLabel">Modifier un projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titre</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titre" name="titre">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Domaine</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="Html/CSS">Html/CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="PHP">PHP</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Selectionner une image</label>
          <input class="form-control" type="file" id="formFile" name="image">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnAjout">Modifier</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pour détail projet-->
<div class="modal fade" id="detailprojet" tabindex="-1" aria-labelledby="detailprojetLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="imgPopup d-flex">
        <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" alt="">
      </div>
      <div class="px-4 contentPopup">
        <h3 class="mt-2">Calculateur d'âge</h3>
        <p>
          Votre défi est de construire cette application web de dictionnaire en utilisant l'API Dictionnaire et de la rendre aussi proche que possible de la conception. <br>
          Vous pouvez utiliser les outils de votre choix pour vous aider à relever le défi. Donc, si vous avez quelque chose que vous aimeriez mettre en pratique, n'hésitez pas à le faire. <br>
          Vos utilisateurs doivent être en mesure de <br>
            Rechercher des mots à l'aide du champ de saisie
            Voir la réponse de l'API du dictionnaire libre pour le mot recherché
            Voir un message de validation de formulaire lorsqu'ils essaient de soumettre un formulaire vide
            lire le fichier audio correspondant à un mot lorsqu'il est disponible
            Passer d'une police à empattement à une police sans empattement ou à une police monospaciale
            Passer d'un thème clair à un thème foncé
            Afficher la disposition optimale de l'interface en fonction de la taille de l'écran de leur appareil
            Voir les états de survol et de mise au point de tous les  éléments interactifs de la page.
            Bonus : choisir la bonne palette de couleurs en fonction des préférences de l'utilisateur. Indice : la recherche préfère le schéma de couleurs en CSS.
        </p>
      </div>
    </div>
  </div>
</div>
