<!-- Button trigger modal -->
<button type="button" class="btn btnAjout" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter
</button>

<!-- contenu -->
<!-- Menu filtre pour le tableau des projets  -->
<div class="menuFiltre mt-5 d-flex">
  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3 active" *ngIf="isProgress">Projets en cours</button>
      <button class="btn fw-bold px-3 active" *ngIf="!isProgress" (click)="showProgress()">Projets en cours</button>
  </div>

  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3" *ngIf="isTerminate">Projets terminés</button>
      <button class="btn fw-bold px-3" *ngIf="!isTerminate" (click)="showTerminate()">Projets terminés</button>
  </div>

  <div class="filtreSection">
      <button class="btn filtreActive fw-bold px-3" *ngIf="isCancel">Projets annulés</button>
      <button class="btn fw-bold px-3" *ngIf="!isCancel" (click)="showCancel()">Projets annulés</button>
  </div>
</div>

<!-- Projet en cours -->
<div class="lignesUrbaine sectionEspace" *ngIf="isProgress">
  <!-- Tableau des projets en cours -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" *ngIf="listeprojet.length>0">
    <thead>
      <tr>
        <th class="thHead">Titre</th>
        <th class="thHead">Langages</th>
        <th class="thHead">Participants</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of listeprojet">
        <td>{{projet.titre}}</td>
        <td>{{projet.langage_de_programmation}}</td>
        <td>{{projet.nombre_de_participant}}</td>
        <td><span class="designer">{{projet.statu}}</span></td>
        <td>{{projet.date_limite}}</td>
        <td>
          <i class="fa-regular fa-pen-to-square" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
          <i class="fa-solid fa-eye ms-1" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal"></i>
          <i class="fa-solid fa-trash-can ms-1" style="color: #0F2A3D; font-size: 20px;"></i>
      </td>
      </tr>
    </tbody>
  </table>
  <table class="" *ngIf="listeprojet.length<0">
    <thead>
      <tr>
        <th class="thHead">Titre</th>
        <th class="thHead">Description</th>
        <th class="thHead">Niveau de compétence</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aucune donnée disponnible sur le tableau</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Projet terminé -->
<div class="lignesUrbaine sectionEspace" *ngIf="isTerminate">
  <!-- Tableau des projets terminés -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
    <thead class="thHead">
      <tr class="thHead">
        <th class="thHead">Titre</th>
        <th class="thHead">Technologies</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gestion école</td>
        <td>HTML CSS JS</td>
        <td><span class="termin">Terminé</span></td>
        <td>15/02/2024</td>
        <td>
          <i class="fa-regular fa-pen-to-square" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
          <i class="fa-solid fa-eye ms-1" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal"></i>
          <i class="fa-solid fa-trash-can ms-1" style="color: #0F2A3D; font-size: 20px;"></i>
      </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Projet annulé -->
<div class="lignesUrbaine sectionEspace" *ngIf="isCancel">
  <!-- Tableau des projets annulés -->
  <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
    <thead>
      <tr>
        <th class="thHead">Titre</th>
        <th class="thHead">Technologies</th>
        <th class="thHead">Etat</th>
        <th class="thHead">Date limite</th>
        <th class="thHead">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gestion contact</td>
        <td>HTML CSS JS</td>
        <td><span class="cancel">Annulé</span></td>
        <td>X</td>
        <td>
            <i class="fa-regular fa-pen-to-square" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal"></i>
            <i class="fa-solid fa-eye ms-1" style="color: #0F2A3D; font-size: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#detailModal"></i>
            <i class="fa-solid fa-trash-can ms-1" style="color: #0F2A3D; font-size: 20px;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- contenu -->

<!-- PopUp ajout -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Titre</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="titre du projet" name="titre" [(ngModel)]="titre">
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Participants</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de Participants" name="nombre_de_participant" [(ngModel)]="nombre_de_participant">
        </div>
        <div class="mb-3 inputAjout">
          <label for="">Langage de programmation</label>
        <select class="form-select" aria-label="Default select example" name="langage_de_programmation" [(ngModel)]="langage_de_programmation">
          <option selected>Choisir le langage</option>
          <option  *ngFor="let langage of listeLangage" [value]="langage_de_programmation">{{ langage.nom }}</option>
        </select>
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description" name="description" [(ngModel)]="description">
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Date limite</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date" name="date_limite" [(ngModel)]="date_limite">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnAjout" (click)="AjoutProjet()">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<!-- PopUp modifier -->
<div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="modifiermodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifiermodalLabel">Modifier un projet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Titre</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="titre du projet">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Technologies</label>
          <div class="check">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                HTML
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                CSS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                JS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                API
              </label>
            </div>
          </div>
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">
        </div>
        <div class="mb-3 inputAjout">
          <label for="exampleFormControlInput1" class="form-label">Date limite</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btnAjout">Modifier</button>
      </div>
    </div>
  </div>
</div>
