<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->
<!-- Contenu -->
<div class="banniere">
  <img src="https://img.freepik.com/photos-gratuite/concept-collage-controle-qualite-standard_23-2149595831.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
</div>
<div class="politiqueConf container">
  <h2 class="text-center mt-5">Politique de confidentialité</h2>
  <p class="my-5">
    Chez DevLite, nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les données que vous nous fournissez lorsque vous utilisez la plateforme DevFinders.<br>

    <strong>1. Collecte de données :</strong>
    Informations Personnelles : Lors de votre inscription sur DevFinders, nous pouvons collecter des informations telles que votre nom, votre adresse e-mail, votre pays de résidence et d'autres données nécessaires à votre profil.
    Données de Navigation : Nous collectons des données de navigation, telles que les pages visitées, les temps de visite et d'autres informations similaires pour améliorer l'expérience des utilisateurs sur la plateforme.<br>

    <strong>2. Utilisation des données :</strong>
    Fonctionnalités de la Plateforme : Les informations collectées sont utilisées pour vous offrir des fonctionnalités personnalisées sur DevFinders, comme la proposition de projets pertinents et la mise en relation avec des porteurs de projets.
    Communication : Nous utilisons vos informations pour vous contacter concernant les mises à jour de la plateforme, les notifications relatives à votre compte et pour répondre à vos demandes de support.<br>

    <strong>3. Partage d'Informations :</strong>
    Partage avec des Tiers : Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement, sauf si cela est requis par la loi ou pour la prestation de services liés à DevFinders.
    Anonymisation des Données : Des données agrégées et anonymisées peuvent être partagées à des fins statistiques ou de recherche, sans identifier individuellement les utilisateurs. <br>

    <strong>4. Sécurité des Données :</strong>
    Mesures de Sécurité : Nous mettons en place des mesures de sécurité techniques et organisationnelles pour protéger vos informations contre tout accès non autorisé, utilisation abusive ou divulgation. <br>

    <strong>5. Vos Choix et Contrôle :</strong>
    Accès et Modification : Vous pouvez accéder à vos informations personnelles, les mettre à jour ou les supprimer via les paramètres de votre compte.
    Désinscription : Vous avez la possibilité de vous désinscrire des communications marketing en suivant les instructions de désabonnement fournies dans ces messages. <br>

    <strong>6. Modifications de la Politique de Confidentialité :</strong>
    Cette politique de confidentialité peut être mise à jour périodiquement pour refléter les changements dans nos pratiques de collecte et d'utilisation des données. Les utilisateurs seront informés des modifications importantes.
    Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à devfinder@gmail.com
    Date d'entrée en vigueur : 04/01/2024
  </p>
</div>
<!-- Fin Contenu -->
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
