<!-- header -->
<app-header-entreprise></app-header-entreprise>
<!-- header -->
<div>
  <!-- Début Section Bannière -->
  <div class="d-flex banner">
      <div class="mt-5  ps-3">
          <h1 class="ml2 text-white">Bienvenu sur DevFinders</h1>
          <p class="text-white">Trouvez des talents émergents et compétents pour vos projets : Démarquez-vous avec DevFinders, la plateforme dédiée à la découverte des développeurs autonomes et talentueux pour booster vos équipes !</p>
      </div>
      <div>
          <img class="imgBanner" src="../../assets/banierre.png" alt="">
      </div>
  </div>
  <!-- Fin Section Bannière -->

  <!-- Début Première Section -->
  <div class="Section">
    <h1 class="mt-5 text-center">Bienvenu sur <span>Dev</span><span class="secondletter">Finder</span></h1>
    <div class="carte container mt-5">
      <div class="carteItem text-center mt-3">
        <h5 class="mt-3">Sans expérience ??</h5>
        <p class="mt-4">Pas de panique <span>Dev</span><span class="secondletter">Finders</span> est là pour y rémédier</p>
      </div>
      <div class="carteItems text-center">
        <h5 class="mt-3">Montez en compétences</h5>
        <p class="mt-2">Gravissez les échelons de l'expertise : développez vos compétences avec <span>Dev</span><span class="secondletter">Finders</span>, la plateforme idéale pour monter en puissance dans le monde du développement informatique !</p>
      </div>
      <div class="carteItem text-center mt-3">
        <p class="px-2 mt-2">Explorez, apprenez et construisez votre chemin vers l'expertise avec <span>Dev</span><span class="secondletter">Finders</span> : la plateforme qui transforme les développeurs débutants en talents aguerris grâce à des projets pratiques et concrets !</p>
      </div>
    </div>
  </div>
  <!-- Fin Première Section -->

  <!-- Début Section Développeurs-->
  <div class="projets mt-5">
    <div class="d-flex ms-5">
      <h2 class="tittle">Projets</h2>
      <p class="trait mt-3 ms-3"></p>
    </div>
    <div class="container cartes">
      <div class="bigdiv">
        <div class="petitdiv">
          <div class="mak">
            <div class="tofservice my-2">
              <img
                src="https://img.freepik.com/photos-gratuite/strategie-systeme-gestion-contenu-cms-concept_53876-124877.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                alt=""
              />
            </div>
          </div>
          <div
            class="titleservice d-flex justify-content-center my-2"
          >
            <h6 class="fw-bold">Noel Robinson Ndecky</h6>
          </div>
          <div class="textsevice text-center fw-light">
            <p class="fw-medium">
                Développeur Front-end. Diplomé depuis 2022 en developpement ...
            </p>
          </div>
          <div class="plusservices d-flex justify-content-center">
            <a class="text-decoration-none colortitle" href="" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop_cms"><span class="lnr lnr-pointer-right"></span> Detail</a>
           </div>
        </div>
      </div>
      <div class="bigdiv">
        <div class="petitdiv">
          <div class="mak">
            <div class="tofservice my-2">
              <img
                src="https://img.freepik.com/photos-gratuite/strategie-systeme-gestion-contenu-cms-concept_53876-124877.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                alt=""
              />
            </div>
          </div>
          <div
            class="titleservice d-flex justify-content-center my-2"
          >
            <h6 class="fw-bold">Mariama SAMBOU</h6>
          </div>
          <div class="textsevice text-center fw-light">
            <p class="fw-medium">
                Développeur Front-end. Diplomé depuis 2022 en developpement ...
            </p>
          </div>
          <div class="plusservices d-flex justify-content-center">
            <a class="text-decoration-none colortitle" href="" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop_cms"><span class="lnr lnr-pointer-right"></span> Detail</a>
           </div>
        </div>
      </div>
      <div class="bigdiv">
        <div class="petitdiv">
          <div class="mak">
            <div class="tofservice my-2">
              <img
                src="https://img.freepik.com/photos-gratuite/strategie-systeme-gestion-contenu-cms-concept_53876-124877.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                alt=""
              />
            </div>
          </div>
          <div
            class="titleservice d-flex justify-content-center my-2"
          >
            <h6 class="fw-bold">Libson CISSE</h6>
          </div>
          <div class="textsevice text-center fw-light">
            <p class="fw-medium">
                Développeur Front-end. Diplomé depuis 2022 en developpement ...
            </p>
          </div>
          <div class="plusservices d-flex justify-content-center">
            <a class="text-decoration-none colortitle" href="" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop_cms"><span class="lnr lnr-pointer-right"></span> Detail</a>
           </div>
        </div>
      </div>

      <div class="bigdiv">
        <div class="petitdiv">
          <div class="mak">
            <div class="tofservice my-2">
              <img
                src="https://img.freepik.com/photos-gratuite/strategie-systeme-gestion-contenu-cms-concept_53876-124877.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                alt=""
              />
            </div>
          </div>
          <div
            class="titleservice d-flex justify-content-center my-2"
          >
            <h6 class="fw-bold">Dieyna COLY</h6>
          </div>
          <div class="textsevice text-center fw-light">
            <p class="fw-medium">
                Développeur Front-end. Diplomé depuis 2022 en developpement ...
            </p>
          </div>
          <div class="plusservices d-flex justify-content-center">
            <a class="text-decoration-none colortitle" href="" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop_cms"><span class="lnr lnr-pointer-right"></span> Detail</a>
           </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn bouton mt-4 btnProjet">Plus de projets</a>
  </div>
  <!-- Fin Section Développeurs-->

  <!-- Début Section Comment ça marche et Pourquoi choisir devFinders-->
  <div class="container sectionThree ">
    <div class="firstItem">
      <h2>Comment ça marche ? </h2>
      <section class="middlemain2">
        <section style="background-color: white;">
            <div class="container py-5">
              <div class="main-timeline">
                <div class="timeline left">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">01</h2>
                      <p class="mb-0 card-text lead">
                        Parcourez la liste des projets au niveau de la plateforme</p>
                    </div>
                  </div>
                </div>
                <div class="timeline right">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">02</h2>
                      <p class="mb-0 card-text lead">
                        Choisissez le projet ou les projets qui vous intéresse et vous pouvez voir les détails
                    </div>
                  </div>
                </div>
                <div class="timeline left">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">03</h2>
                      <p class="mb-0 card-text lead">
                        A la fin du projet vous pourrez soumettre votre travail pour une évaluation</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </section>
    </div>
    <div >
      <h2 class="text-center">Pourquoi <span>Dev</span><span class="secondletter">Finders</span></h2>
      <div class="secondItem px-4 py-4 mt-3">
        <p class="text-justify"><strong>Montée en Compétence Pratique :</strong> DevFinders offre des opportunités concrètes de développement de compétences à travers la réalisation de projets réels, permettant aux développeurs inexpérimentés de gagner en expertise. <br>
        <strong>Accès à des Projets Variés :</strong> Les développeurs novices peuvent accéder à une diversité de projets soumis par différents porteurs de projets, leur offrant ainsi une exposition à différents domaines et technologies. <br>
        <strong>Expérience Pratique et Apprentissage Continu :</strong> La plateforme favorise l'apprentissage continu en offrant des occasions de pratiquer, d'apprendre de nouvelles compétences et d'acquérir de l'expérience pratique.
        </p>
      </div>
    </div>
  </div>
  <!-- Début Section Comment ça marche et Pourquoi choisir devFinders-->

  <!-- Début Section Témoignages-->
  <div class="temoignages mb-5">
      <div class="d-flex ms-5">
        <h2 class="tittle">Témoignages</h2>
        <p class="trait mt-3 ms-3"></p>
      </div>
      <div class="temoignagesItem mt-5">
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr mt-2"></p>
          </div>
        </div>
      </div>
  </div>
  <!-- Fin Section Témoignages-->
</div>
<!-- footer -->
<app-footer-entreprise></app-footer-entreprise>
<!-- footer -->
