<!-- header -->
<div class="headertext">
  <app-header></app-header>
</div>
<!-- header -->
<div>
  <!-- Début Section Bannière -->
  <div class="d-flex banner">
      <div class="mt-5  ps-3">
          <h1 class="ml2 text-white">Bienvenu sur DevFinders</h1>
          <p class="text-white">Boostez votre expertise, découvrez des projets concrets et mettez en lumière vos compétences sur DevFinders</p>
      </div>
      <div>
          <img class="imgBanner" src="../../assets/banierre.png" alt="">
      </div>
  </div>
  <!-- Fin Section Bannière -->

  <!-- Début Première Section -->
  <div class="Section">
    <h1 class="mt-5 text-center">Bienvenu sur <span>Dev</span><span class="secondletter">Finder</span></h1>
    <div class="carte container mt-5">
      <div class="carteItem text-center mt-3">
        <h5 class="mt-3">Sans expérience ??</h5>
        <p class="mt-4">Pas de panique <span>Dev</span><span class="secondletter">Finders</span> est là pour y rémédier</p>
      </div>
      <div class="carteItems text-center">
        <h5 class="mt-3">Montez en compétences</h5>
        <p class="mt-2">Gravissez les échelons de l'expertise : développez vos compétences avec <span>Dev</span><span class="secondletter">Finders</span>, la plateforme idéale pour monter en puissance dans le monde du développement informatique !</p>
      </div>
      <div class="carteItem text-center mt-3">
        <p class="px-2 mt-2">Explorez, apprenez et construisez votre chemin vers l'expertise avec <span>Dev</span><span class="secondletter">Finders</span> : la plateforme qui transforme les développeurs débutants en talents aguerris grâce à des projets pratiques et concrets !</p>
      </div>
    </div>
  </div>
  <!-- Fin Première Section -->

  <!-- Début Section Projet-->
  <div class="projets mt-5">
    <div class="d-flex ms-5">
      <h2 class="tittle ms-5">Projets</h2>
      <p class="trait mt-3 ms-3"></p>
    </div>
    <div class="container mt-2 cartes">
      <div class="dieyna" id="cartes">
        <div class="card" style="width: 20rem;">
            <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calculatrice d'âge</h5>
              <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
              <p class="card-text">Ce projet est conçu pour aiguiser vos compétences en matière de JavaScript et de validation de formulaire. Travailler avec des dates en JavaScript peut être délicat, ce sera donc un bon test !</p>
              <a href="#" class="btn bouton">Détails</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dictionnaire</h5>
              <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span><span class="secondletter ms-3">API</span>
              <p class="card-text">Dans ce projet, vous intégrerez l'API Dictionnaire pour créer une application web de dictionnaire du monde réel. Les tests supplémentaires portent sur les thèmes de couleurs et la sélection des polices de caractères.</p>
              <a href="#" class="btn bouton">Détails</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="https://img.freepik.com/free-photo/african-american-man-woman-doing-teamwork-collaboration-presentation-report-looking-data-computer-papers-working-together-with-paperwork-office-during-sunset_482257-46942.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=sph" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portfolio développeur</h5>
              <span>HTML</span><span class="secondletter ms-3">CSS</span><span class="ms-3">JS</span>
              <p class="card-text">Testez vos compétences en HTML et CSS avec ce site portfolio. Des connaissances de base en JS sont nécessaires pour la validation du formulaire. Vous pouvez même le personnaliser et l'utiliser comme votre propre site !</p>
              <a href="#" class="btn bouton">Détails</a>
            </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn bouton mt-4 btnProjet">Plus de projets</a>
  </div>
  <!-- Fin Section Projet-->

  <!-- Début Section Comment ça marche et Pourquoi choisir devFinders-->
  <div class="container sectionThree ">
    <div class="firstItem">
      <h2>Comment ça marche ? </h2>
      <section class="middlemain2">
        <section>
            <div class="container py-5">
              <div class="main-timeline">
                <div class="timeline left">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">01</h2>
                      <p class="mb-0 card-text lead">
                        Parcourez la liste des projets au niveau de la plateforme</p>
                    </div>
                  </div>
                </div>
                <div class="timeline right">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">02</h2>
                      <p class="mb-0 card-text lead">
                        Choisissez le projet ou les projets qui vous intéresse et vous pouvez voir les détails
                    </div>
                  </div>
                </div>
                <div class="timeline left">
                  <div class="card">
                    <div class="card-body p-4">
                      <h2 class="card-title text-center">03</h2>
                      <p class="mb-0 card-text lead">
                        A la fin du projet vous pourrez soumettre votre travail pour une évaluation</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </section>
    </div>
    <div >
      <h2 class="text-center">Pourquoi <span>Dev</span><span class="secondletter">Finders</span></h2>
      <div class="secondItem px-4 py-4 mt-3">
        <p class="text-justify"><strong>Montée en Compétence Pratique :</strong> DevFinders offre des opportunités concrètes de développement de compétences à travers la réalisation de projets réels, permettant aux développeurs inexpérimentés de gagner en expertise. <br>
        <strong>Accès à des Projets Variés :</strong> Les développeurs novices peuvent accéder à une diversité de projets soumis par différents porteurs de projets, leur offrant ainsi une exposition à différents domaines et technologies. <br>
        <strong>Expérience Pratique et Apprentissage Continu :</strong> La plateforme favorise l'apprentissage continu en offrant des occasions de pratiquer, d'apprendre de nouvelles compétences et d'acquérir de l'expérience pratique.
        </p>
      </div>
    </div>
  </div>
  <!-- Début Section Comment ça marche et Pourquoi choisir devFinders-->

  <!-- Début Section Témoignages-->
  <div class="temoignages mb-5">
      <div class="d-flex ms-5">
        <h2 class="tittle">Témoignages</h2>
        <p class="trait mt-3 ms-3"></p>
      </div>
      <div class="temoignagesItem mt-5">
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
        <div class="temoignagesItems d-flex">
          <img src="https://img.freepik.com/photos-gratuite/belle-femme-africaine-se-sentant-reconnaissante_181624-46352.jpg?size=626&ext=jpg&ga=GA1.2.12207566.1692912950&semt=ais" alt="">
          <div class="contenu pe-5">
            <h4 class="text-center mt-3" id="text">Dieynaba COLY</h4>
            <p class="text-center mt-3" id="text">Très belle expérience <br>vraiment merci !!!</p>
            <p class="hr"></p>
          </div>
        </div>
      </div>

  </div>
  <!-- Fin Section Témoignages-->
</div>
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
